.fondos{
    height: 100vh;
    background: url(../img/ivan-bandura-YK1EZWREs_Y-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.gris{
    background: rgba(0, 0, 0, 0.241);
}

.top-nav-collapse{
    background: rgba(0, 0, 0, 0.713) !important;
}

/*=============== BANNER INICIO =============*/
#home a:hover{
    background-color: white !important;
    color: black !important;
}

.header-hero{
    position: relative;
    z-index: 5;
    background-position: bottom center; 
    background-repeat: no-repeat;
}

#particles-js{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

.header-hero-content{
    padding-top: 180px;
}

@media (max-width: 767px){
    .header-hero-content{
        padding-top: 100px; 
    } 
}

.header-hero-content .header-sub-title {
    font-size: 38px;
    font-weight: 300;
    color: #fff;
}

@media (max-width: 767px){
    .header-hero-content .header-sub-title{
        font-size: 24px; 
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px){
    .header-hero-content .header-sub-title{
        font-size: 30px;
    } 
}

.header-hero-content .header-title {
    font-size: 38px;
    font-weight: 700;
    color: #fff; 
}

@media (max-width: 767px) {
    .header-hero-content .header-title {
        font-size: 24px; 
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-hero-content .header-title {
        font-size: 30px; 
    }
}

.header-hero-content .text{
    color: #fff;
    margin-top: 30px; 
}

.header-hero-content .main-btn{
    margin-top: 40px;
}

.header-hero-image{
    padding-top: 45px;
}

.header-hero-image img{
    max-width: 650px; 
}

@media (max-width: 767px){
    .header-hero-image img{
        max-width: 100%;
    }
}

@media (max-width: 767px){
    .header-hero-image{
        padding-top: 30px;
    }
}

/*========= ENCABEZADO SECCIONES =====*/
#subtitulo {
    color: black;
}

#titulo {
    font-weight: bold;
    color: black;
}

/*======== PERFIL =======*/
.profile-banner{
    align-items: center;
    display: flex;
    justify-content: center;
    background: url('../img/bg-perfil.jpg') 100% 100% fixed;
    padding: 1rem;
    height: 426px;
    background-size: cover;
}

.caracteristicas-banner{
    align-items: center;
    display: flex;
    justify-content: center;
    background: url('../img/caracteristicas-banner.jpg') 100% 100% fixed;
    padding: 1rem;
    height: 426px;
}

.tecnicas-banner{
    align-items: center;
    display: flex;
    justify-content: center;
    background: url('../img/tecnicas-banner.jpg') 100% 100% fixed;
    padding: 1rem;
    height: 426px;
    background-size: cover;
}

/*.tarjeta {
    max-height: 315px;
    /*box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.8);
}*/

